;; shadow-cljs configuration
{:builds
   {:app {:asset-path "/js",
          :modules {:scl {:exports {domToEdn openscd.scl/domToEdn,
                                    sclDomDiff openscd.scl/sclDomDiff,
                                    sclDomToEdn openscd.scl/sclDomToEdn}}},
          :output-dir "public/js",
          :target :esm}},
 :dependencies [[juji/editscript "0.6.3"] [fipp "0.6.26"]
                [com.taoensso/tufte "2.6.3"]],
 :dev-http {8020 "public"},
 :source-paths ["src/dev" "src/main" "src/test"]}
