{:AccessPoint {:clock "false", :desc "", :kdc "false", :router "false"},
 :Association {:prefix ""},
 :BDA {:count "0", :desc "", :valImport "false", :valKind "Set"},
 :Bay {:desc ""},
 :ClientLN {:prefix ""},
 :ClientServices {:bufReport "false",
                  :goose "false",
                  :gsse "false",
                  :noIctBinding "false",
                  :rGOOSE "false",
                  :rSV "false",
                  :readLog "false",
                  :supportsLdName "false",
                  :sv "false",
                  :unbufReport "false"},
 :CommProt {:ipv6 "false"},
 :Communication {:desc ""},
 :ConductingEquipment {:desc "", :virtual "false"},
 :ConfDataSet {:modify "true"},
 :ConfLNs {:fixLnInst "false", :fixPrefix "false"},
 :ConfReportControl {:bufConf "false", :bufMode "both"},
 :ConnectedAP {:desc ""},
 :ConnectivityNode {:desc ""},
 :DA {:count "0",
      :dchg "false",
      :desc "",
      :dupd "false",
      :qchg "false",
      :valImport "false",
      :valKind "Set"},
 :DAI {:desc ""},
 :DAType {:desc "", :iedType ""},
 :DO {:desc "", :transient "false"},
 :DOI {:desc ""},
 :DOType {:desc "", :iedType ""},
 :DataSet {:desc ""},
 :EnumType {:desc ""},
 :EnumVal {:desc ""},
 :EqFunction {:desc ""},
 :EqSubFunction {:desc ""},
 :FCDA {:prefix ""},
 :FileHandling {:ftp "false", :ftps "false", :mms "true"},
 :Function {:desc ""},
 :GOOSE {:fixedOffs "false", :goose "true", :rGOOSE "false"},
 :GOOSESecurity {:desc ""},
 :GSE {:desc ""},
 :GSEControl
   {:desc "", :fixedOffs "false", :securityEnable "None", :type "GOOSE"},
 :GSESettings {:appID "Fix",
               :cbName "Fix",
               :datSet "Fix",
               :dataLabel "Fix",
               :kdaParticipant "false"},
 :GeneralEquipment {:desc "", :virtual "false"},
 :Header {:nameStructure "IEDName", :revision ""},
 :IED {:desc "",
       :engRight "full",
       :originalSclRelease "1",
       :originalSclRevision "A",
       :originalSclVersion "2003"},
 :Inputs {:desc ""},
 :LDevice {:desc ""},
 :LN {:desc "", :prefix ""},
 :LNode {:desc "", :iedName "None", :ldInst "", :lnInst "", :prefix ""},
 :LNodeType {:desc "", :iedType ""},
 :Line {:desc ""},
 :Log {:desc ""},
 :LogControl {:bufTime "0",
              :desc "",
              :intgPd "0",
              :lnClass "LLN0",
              :logEna "true",
              :prefix "",
              :reasonCode "true"},
 :LogSettings
   {:cbName "Fix", :datSet "Fix", :intgPd "Fix", :logEna "Fix", :trgOps "Fix"},
 :McSecurity {:encryption "false", :signature "false"},
 :NeutralPoint {:desc "", :name ""},
 :PhysConn {:desc ""},
 :PowerTransformer {:desc "", :virtual "false"},
 :Process {:desc ""},
 :ProtNs {:type "8-MMS"},
 :RedProt {:hsr "false", :prp "false", :rstp "false"},
 :ReportControl {:bufOvfl "true",
                 :bufTime "0",
                 :buffered "false",
                 :configRef "false",
                 :dataRef "false",
                 :dataSet "false",
                 :desc "",
                 :entryID "false",
                 :indexed "true",
                 :intgPd "0",
                 :reasonCode "false",
                 :seqNum "false",
                 :timeStamp "false"},
 :ReportSettings {:bufTime "Fix",
                  :cbName "Fix",
                  :datSet "Fix",
                  :intgPd "Fix",
                  :optFields "Fix",
                  :owner "false",
                  :resvTms "false",
                  :rptID "Fix",
                  :trgOps "Fix"},
 :RptEnabled {:desc "", :max "1"},
 :SDI {:desc ""},
 :SDO {:count "0", :desc ""},
 :SMV {:desc ""},
 :SMVSecurity {:desc ""},
 :SMVSettings {:cbName "Fix",
               :datSet "Fix",
               :kdaParticipant "false",
               :nofASDU "Fix",
               :optFields "Fix",
               :pdcTimeStamp "false",
               :samplesPerSec "false",
               :smpRate "Fix",
               :svID "Fix",
               :synchSrcId "false"},
 :SMVsc
   {:delivery "multicast", :deliveryConf "false", :rSV "false", :sv "true"},
 :SampledValueControl {:dataSet "false",
                       :desc "",
                       :multicast "true",
                       :refreshTime "false",
                       :sampleRate "false",
                       :security "false",
                       :securityEnable "None",
                       :smpMod "SmpPerPeriod",
                       :synchSourceId "false",
                       :timestamp "false"},
 :Server {:certificate "false",
          :desc "",
          :none "true",
          :password "false",
          :strong "false",
          :timeout "30",
          :weak "false"},
 :ServerAt {:desc ""},
 :Services {:nameLength "32"},
 :SettingControl {:actSG "1", :desc ""},
 :SettingGroups {:resvTms "false"},
 :SubEquipment {:desc "", :phase "none", :virtual "false"},
 :SubFunction {:desc ""},
 :SubNetwork {:desc ""},
 :Substation {:desc ""},
 :TapChanger {:desc "", :virtual "false"},
 :Terminal {:desc "", :name ""},
 :TimeSyncProt
   {:c37_238 "false", :iec61850_9_3 "false", :other "false", :sntp "true"},
 :TransformerWinding {:desc "", :virtual "false"},
 :TrgOps
   {:dchg "false", :dupd "false", :gi "true", :period "false", :qchg "false"},
 :ValueHandling {:setToRO "false"},
 :Voltage {:multiplier ""},
 :VoltageLevel {:desc ""}}
