{:Association [:iedName :ldInst :prefix :lnClass :lnInst :lnType],
 :ClientLN [:apRef :iedName :ldInst :prefix :lnClass :lnInst],
 :ConnectedAP [:iedName :apName],
 :DAI [:name :ix],
 :ExtRef [:iedName :intAddr :ldInst :prefix :lnClass :lnInst :doName :daName
          :serviceType :srcLDInst :srcPrefix :srcLNClass :srcLNInst :srcCBName],
 :FCDA [:ldInst :prefix :lnClass :lnInst :doName :daName :fc :ix],
 :GSE [:ldInst :cbName],
 :Hitem [:version :revision],
 :IEDName [:apRef :ldInst :prefix :lnClass :lnInst],
 :KDC [:iedName :apName],
 :LDevice [:IED :inst],
 :LN [:prefix :lnClass :inst],
 :LN0 [:prefix :lnClass :inst],
 :LNode [:iedName :ldInst :prefix :lnClass :lnInst :lnType],
 :Naming [:name],
 :PhysConn [:type],
 :SDI [:name :ix],
 :SMV [:ldInst :cbName],
 :Terminal [:connectivityNode],
 :idNaming [:id]}
