{:BDA [{:fields [{:referent "id", :referrer "type"}],
        :referent "DAType | EnumType",
        :referrer "DOType/DA | DAType/BDA",
        :within "DataTypeTemplates"}],
 :ConnectedAP [{:fields [{:referent "name", :referrer "iedName"}],
                :referent "./IED",
                :referrer "./Communication/SubNetwork/ConnectedAP",
                :within "SCL"}],
 :DA [{:fields [{:referent "id", :referrer "type"}],
       :referent "DAType | EnumType",
       :referrer "DOType/DA | DAType/BDA",
       :within "DataTypeTemplates"}],
 :DO [{:fields [{:referent "id", :referrer "type"}],
       :referent "DOType",
       :referrer "LNodeType/DO",
       :within "DataTypeTemplates"}],
 :FCDA [{:fields [{:referent "inst", :referrer "ldInst"}],
         :referent "./AccessPoint/Server/LDevice",
         :referrer "./AccessPoint/Server/LDevice/LN/DataSet/FCDA",
         :within "IED"}
        {:fields [{:referent "inst", :referrer "ldInst"}],
         :referent "./AccessPoint/Server/LDevice",
         :referrer "./AccessPoint/Server/LDevice/LN0/DataSet/FCDA",
         :within "IED"}],
 :GSEControl [{:fields [{:referent "name", :referrer "datSet"}],
               :referent "./DataSet",
               :referrer "./GSEControl",
               :within "LN0"}],
 :LN [{:fields [{:referent "id", :referrer "lnType"}
                {:referent "lnClass", :referrer "lnClass"}],
       :referent "./DataTypeTemplates/LNodeType",
       :referrer "./IED/AccessPoint/LN",
       :within "SCL"}
      {:fields [{:referent "id", :referrer "lnType"}
                {:referent "lnClass", :referrer "lnClass"}],
       :referent "./DataTypeTemplates/LNodeType",
       :referrer "./IED/AccessPoint/Server/LDevice/LN",
       :within "SCL"}],
 :LN0 [{:fields [{:referent "id", :referrer "lnType"}
                 {:referent "lnClass", :referrer "lnClass"}],
        :referent "./DataTypeTemplates/LNodeType",
        :referrer "./IED/AccessPoint/Server/LDevice/LN0",
        :within "SCL"}],
 :LogControl [{:fields [{:referent "name", :referrer "datSet"}],
               :referent "./DataSet",
               :referrer "./LogControl",
               :within "LN"}
              {:fields [{:referent "name", :referrer "datSet"}],
               :referent "./DataSet",
               :referrer "./LogControl",
               :within "LN0"}],
 :ReportControl [{:fields [{:referent "name", :referrer "datSet"}],
                  :referent "./DataSet",
                  :referrer "./ReportControl",
                  :within "LN"}
                 {:fields [{:referent "name", :referrer "datSet"}],
                  :referent "./DataSet",
                  :referrer "./ReportControl",
                  :within "LN0"}],
 :SDO [{:fields [{:referent "id", :referrer "type"}],
        :referent "DOType",
        :referrer "DOType/SDO",
        :within "DataTypeTemplates"}],
 :SampledValueControl [{:fields [{:referent "name", :referrer "datSet"}],
                        :referent "./DataSet",
                        :referrer "./SampledValueControl",
                        :within "LN0"}],
 :ServerAt [{:fields [{:referent "name", :referrer "apName"}],
             :referent "./AccessPoint",
             :referrer "./AccessPoint/ServerAt",
             :within "IED"}],
 :Terminal [{:fields [{:referent "name", :referrer "substationName"}],
             :referent "./Substation | ./Process | ./Line",
             :referrer ".//Terminal",
             :within "SCL"}]}
